
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {
    @include m.flex-center;
    justify-content: space-evenly;
    width: 100%;
    color: v.$color-text;
    border: 2px solid v.$color-primary;
    background-color: v.$color-bg;
    border-radius: v.$border-radius-btn;
    padding: 8px;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
        background-color: v.$color-primary;
        color: black;
    }
}

#button {
    @include m.flex-center;
    justify-content: space-evenly;
    width: 90%;
    background-color: v.$color-bg;
    border: 3px solid v.$color-primary;
    border-radius: v.$border-radius-sm;
}
